{{#layout}}
{{PAGE_TITLE=Submit an update · Starflow Local}}
{{PAGE_DESCRIPTION=Tell us what needs changing or add a new venue/event.}}
{{SITE_TITLE=Starflow Local}}
{{SITE_TAGLINE=Helpful local info. No hype, just answers.}}

<div class="card">
  <h2>Submit an update</h2>
  <p>Spotted an error or want to add a venue/event? Use the form below.</p>

  <!-- Quick button to a Google Form (replace the URL with your live form link) -->
  <p><a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfXDm-Oy-PhYyeomPyGP4UD0-iMEW70l-PboxhadWiMP9xOaw/viewform?usp=dialog">Open update form</a></p>

  <!-- Or embed the form (replace YOUR_FORM_ID) 
  <iframe src="https://docs.google.com/forms/d/e/YOUR_FORM_ID/viewform?embedded=true"
          width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  -->
</div>
